@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";


@theme {
  --font-display: "Urbanist", sans-serif;
}
 @plugin "daisyui" {
   themes: light --default;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #03373D;
  --color-accent: #CAEB66;
 }

body {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color: #606060;
  background-color: #EAECED;
}
html {
  scroll-behavior: smooth;
}
button, a{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sub-heading{
    @apply text-3xl lg:text-4xl font-extrabold;
}
.text-desc {
    @apply  text-base lg:text-lg;
}
.theme-input{
  @apply px-5 py-3 rounded-md border border-gray-300 outline-0 focus:border-accent focus:outline-0 focus:shadow-none w-full block;
}
.theme-label{
  @apply text-base font-semibold text-gray-700 mb-1 block;
}